<!-- Start Contact info -->
<div class="contact-info-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="tel:6045331679"> <i class="fa fa-volume-control-phone"></i></a>
                <div class="overflow-hidden">
                    <h4>Phone</h4>
                    <p class="lead">
                        (604) 533-1679
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <a href="mailto:info@lmow.ca"> <i class="fa fa-envelope"></i></a>
                <div class="overflow-hidden">
                    <h4>Email</h4>
                    <p class="lead">
                        info@lmow.ca
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <a href="https://www.google.ca/maps/place/20414+Douglas+Crescent,+Langley+City,+BC+V3A+4B6/@49.103489,-122.6581114,17z/data=!3m1!4b1!4m5!3m4!1s0x5485cfd283f9f44b:0xb1bbff804c2c51b1!8m2!3d49.1034855!4d-122.6559227"
                    target="_blank"><i class="fa fa-map-marker"></i></a>
                <div class="overflow-hidden">
                    <h4>Location</h4>
                    <p class="lead">
                        20414 Douglas Crescent
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact info -->

<!-- Start Footer -->
<footer class="footer-area bg-f">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3>About Us</h3>
                <p>Proudly serving Langley since 1979, Langley Meals on Wheels is a charitable, non-profit society
                    providing
                    affordable
                    menu plans and social meal programs in the Langley community.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>Office hours</h3>
                <p class="lead">Mon-Fri: 9:00AM - 3:00PM<br />Sat-Sun: Closed<br />Statutory Holidays: Closed</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>Contact information</h3>
                <p class="lead">20414 Douglas Crescent<br /> Langley, BC<br /> V3A 4B4</p>
                <p class="lead"><a href="tel:6045331679">604 533-1679</a></p>

            </div>
            <div class="col-lg-3 col-md-6">
                <h3>CONNECT</h3>
                <ul class="list-inline f-social">
                    <li class="list-inline-item"><a href="https://www.facebook.com/LangleyMealsOnWheelsServicesSociety/"
                            target='_blank'><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/langleymealsonwheels/"
                            target='_blank'><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/company/langley-meals-on-wheels-services-society?originalSubdomain=ca"
                            target='_blank'><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
                <p><a href="mailto:info@lmow.ca"> info@lmow.ca</a></p>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="company-name">All Rights Reserved. &copy; <span id='copyright-year'></span> <a
                            href="#">Langley
                            Meals on Wheels</a>
                        Design
                        By :
                        <a href="https://html.design/">html design</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
</script>
<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>
<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
<!-- ALL JS FILES -->
<!-- <script src="/public/js/firebase-api.js"></script> -->
<!-- <script src="/js/jquery-3.2.1.min.js"></script> -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!-- ALL PLUGINS -->

<script src="/js/jquery.superslides.min.js"></script>
<script src="/js/images-loded.min.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/baguetteBox.min.js"></script>
<script src="/js/form-validator.min.js"></script>
<script src="/js/contact-form-script.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/edit.js"></script>
<script src="/js/logout.js"></script>

<!-- <script src="/js/inventory.js"></script> -->
<!-- <script src="/js/firebase-api.js"></script> -->