<	<!-- End header -->
    <!-- Our Menu -->
	<div class="qt-box mnu-background" >
		<div class="container" >
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<br><br><br>
					<br>
					<p class="lead ">Our Menu</p>
				</div>
			</div>
		</div>
	</div>

	<div class="stuff-box">
		<div class="container  ">

			<span class="lead">We provide the following meals based on a four week rotation:</span>
			<br /><br />

			<div class="row">
				<div class="col-lg-2">
					<h1><strong>WEEK 1</strong></h1>
							<p style ='font-size:10;font-weight:800; color:darkgreen'>Jan 11-15, Feb 8-12, Mar 8-12, Apr 5-9, May 3-7, May 31-Jun 4, Jun 28-Jul 2, Jul 26-30, Aug 23-27, Sep 20-24, Oct 18-22, Nov 15-19, Dec 13-17</p>
				</div>
				<div class="col-lg-2">
					<h2><strong>Monday</strong></h2>
					<h3>Sliced Ham with Pineapple</h3>
					<h6>Scalloped Potatoes & Carrots</h6>
					<h3> <img src="images/soup.jpg" style='width:24px'> Canadian Pea</h3>
					<h3> <img src="images/sandwich.png" style='width:24px'> Deli Meat</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Tuesday</strong></h2>
					<h3>Beef Stew w/Vegetables & Dumplings</h3>
					<h6>Parsley Boiled Potatoes & Brocolli</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> Mushroom Barley</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Ham & Cheese</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Wednesday</strong></h2>
					<h3>Chicken Marengo</h3>
					<h6>Parmesan Rice & Steamed Peas</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> Mulligatawny</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Egg Salad</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Thursday</strong></h2>
					<h3>Hearty Beef Meat Loaf w/Gravy</h3>
					<h6>Mashed Potatoes & Seasoned Turnip</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> California Bean</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Turkey</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Friday</strong></h2>
					<h3>Chicken A La King</h3>
					<h6>Potato O'Brien & Steamed Corn</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> Butternut Squash</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Tomato Cucumber Cheese</h3>
					<br />
				</div>
			</div>
			<br />

			<div class="row">
				<div class="col-lg-2">
					<h1><strong>WEEK 2</strong></h1>
								<p style ='font-size:10;font-weight:800; color:darkgreen'>Jan 18-22, Feb 15-19, Mar 15-19, Apr 12-16, May 10-14, Jun 7-11, Jul 5-9, Aug 2-6, Aug 30-Sep 3, Sep 27 - Oct
									1, Oct 25-29, Nov 22-26, Dec 20-24</p>
				</div>
				<div class="col-lg-2">
					<h2><strong>Monday</strong></h2>
					<h3>Roast Beef & Yorkshire Pudding/Gravy</h3>
					<h6>Mashed Potatoes & Cauliflower</h6>
					<h3> <img src="images/soup.jpg" style='width:24px'> Garden Vegetable</h3>
					<h3> <img src="images/sandwich.png" style='width:24px'> Ham & Cheese</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Tuesday</strong></h2>
					<h3>Salisbury Hamburger Steak w/Mushroom Gravy</h3>
					<h6>Risotto & Green Beans</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> Chicken Rice</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Roast Beef</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Wednesday</strong></h2>
					<h3>Meat Sauce Spaghetti w/Garlic Bread</h3>
					<h6>Mixed Vegetables</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> Beef Barley</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Tuna Salad</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Thursday</strong></h2>
					<h3>Roast Pork w/Gravy</h3>
					<h6>Roast Potatoes & Buttered Turnips</h6>
					<h3><img src="images/salad.jpg" style='width:24px'> Cucumber & Tomato </h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Turkey</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Friday</strong></h2>
					<h3>Honey Garlic Chicken</h3>
					<h6>Steamed Rice & Peas</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> Carrot Ginger</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Deli Meat</h3>
					<br />
				</div>
			</div>

			<br />
			<div class="row">
				<div class="col-lg-2">
					<h1><strong>WEEK 3</strong></h1>
							<p style ='font-size:10;font-weight:800; color:darkgreen'>Jan 25-29, Feb 22-26, Mar 22-26, Apr 19-23, May 17-21, Jun 14-18, Jul 12-16, Aug 9-13, Sep 6-10, Oct
								4-8, Nov 1-5, Nov 29-Dec 3, Dec 27-31</p>
				</div>
				<div class="col-lg-2">
					<h2><strong>Monday</strong></h2>
					<h3>Lemon Rosemary Roast Chicken w/Gravy</h3>
					<h6>Herb Roast Potatoes & Minted Green Peas</h6>
					<h3> <img src="images/soup.jpg" style='width:24px'> Ham & Potato</h3>
					<h3> <img src="images/sandwich.png" style='width:24px'> Chicken Salad</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Tuesday</strong></h2>
					<h3>Swedish Meatballs w/Gravy</h3>
					<h6>Mashed Potatoes & Glazed Carrots</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> Hearty Vegetable</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Egg Salad</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Wednesday</strong></h2>
					<h3>Baked Lasagna w/Garlic Toast</h3>
					<h6>Squash</h6>
					<h3><img src="images/salad.jpg" style='width:24px'> Caesar Salad & Dressing</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Ham & Cheese</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Thursday</strong></h2>
					<h3>Coconut Crusted Chicken</h3>
					<h6>Roast Potatoes & Green Beans</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> Cream Of Tomato Soup </h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Turkey</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Friday</strong></h2>
					<h3>Beef Stroganoff</h3>
					<h6>Mixed Vegetables</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> Spit Pea</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Tomato Cucumber Cheese</h3>
					<br />
				</div>
			</div>

			<div class="row">
				<div class="col-lg-2">
					<h1><strong>WEEK 4</strong></h1>
					<p style ='font-size:10;font-weight:800; color:darkgreen'>Jan 4-8, Feb 1-5, Mar 1-5, Mar 29-Apr 2, Apr 26-30,May 24-28, Jun 21-25, Jul 19-23, Aug 16-20, Sep 13-17, Oct 11-15, Nov 8-12, Dec 6-10</p>
				</div>
				<div class="col-lg-2">
					<h2><strong>Monday</strong></h2>
					<h3>Roast Turkey w/Dressing & Gravy</h3>
					<h6>Roast Potatoes & Green Beans</h6>
					<h3> <img src="images/soup.jpg" style='width:24px'> Corn Lentil</h3>
					<h3> <img src="images/sandwich.png" style='width:24px'> Roast Turkey</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Tuesday</strong></h2>
					<h3>Macaroni Casserole Cheese Bake</h3>
					<h6>Garlic Toast & Peas</h6>
					<h3><img src="images/salad.jpg" style='width:24px'> Tossed Salad & Dressing</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Egg Salad</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Wednesday</strong></h2>
					<h3>Shephard's Pie w/Gravy</h3>
					<h6>Dinner Roll & Cabbage</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> Chicken Gumbo</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Tuna Salad</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Thursday</strong></h2>
					<h3>Chicken Stew</h3>
					<h6>Steamed Rice & Seasoned Spinach</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> Brocolli</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Ham & Cheese</h3>
					<br />
				</div>
				<div class="col-lg-2">
					<h2><strong>Friday</strong></h2>
					<h3>Beef Meatball Marinara</h3>
					<h6>Spaghetti & Mixed Vegetables</h6>
					<h3><img src="images/soup.jpg" style='width:24px'> Chicken Noodle</h3>
					<h3><img src="images/sandwich.png" style='width:24px'> Chicken Salad</h3>
					<br />
				</div>
			</div>
		</div>
	</div>
	<!-- Start Contact info -->

	<!-- End Contact info -->


	<!-- Start Footer -->
